.home-app-bar {
    height: 8vh;
    min-height: 64px;
    padding-left: 1%;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: red;
}

.app-bar-container {
    margin: 0;
    height: 100%;
    min-width: 98.5%;
    padding: 0;
}

.app-bar-toolbar {
    height: 100%;
}

.MuiBox-root {
    max-height: 100%;
}

