.home-app-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: black;
}

.app-bar-container {
    margin: 0;
    height: 100%;
    min-width: 98.5%;
    padding: 0;
}

.logo-container {
    max-height: 100%;
    min-height: 100%;

}

.app-bar-toolbar {
    height: 100%;
}

.outer-search-bar-container {
    background-color: white;
    min-width: 100%;
    min-height: 50%;
    /*padding-left: 12%;*/
}

.padding-div {
    height: 100%;
    background-color: inherit;
    flex: 0 15 12%;
    min-width: 0;
}

.login-buttons-div {
    flex-shrink: 0;
    flex-grow: 10;
}


/*@media (min-width: 600px) and (max-width: 970px) {*/
/*    .outer-search-bar-container {*/
/*        padding-left: 2%;*/
/*    }*/
/*}*/

.inner-search-bar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 100%;
    min-width: 45%;
}

.options-container {
    background-color: red;
    min-width: 100%;
    min-height: 50%;
}

.MuiBox-root {
    max-height: 100%;
}

