#header-option-button:hover {
    background-color: transparent;
}

.popover-container {
    width: 40vw;
    height: 30vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr [col-start]);
    grid-template-rows: repeat(5, 1fr [row-start]);
    gap: 10px;
}


.popover-container > div {
    border: 1px solid black;
}
